[user]
	name = {{ .name }}
	email = {{ .email }}
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
[merge]
	conflictstyle = zdiff3
[diff]
	colorMoved = default
[alias]
	dft = -c diff.external=difft diff
	dlog = -c diff.external=difft log --ext-diff
	dshow = -c diff.external=difft show --ext-diff
